logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.toc
*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.gz

*.log
# sbt specific
.cache

# Scala-IDE specific
.scala_dependencies
.worksheet

# file system

**/.DS_Store

.vscode

project/
**/.idea/
**/data/
**/public
